html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.hide{
  display: none;
}
.desktop{
  display: flex;
}
.mobile{
  display: none;
}
.mobile-block{
  display: none;
}
.desktop-image{
  display: block;
}
.mobile-image{
  display: none;
}
.header-bottom-wrapper{
  display: flex;
}
.header-mobile{
  display: none;
}
.header-bottom-center .header-nav-list ul li a{
  padding-right: 20px;
  text-transform: uppercase;
}
.header-bottom-right input[type=text]{
  color: #828282;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
}
.header-bottom-right input[type=text]:focus{
  outline: none;
}
.main .product-block-1 .video-block .text-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .product-block-1 .video-block .text-block .text-button a{
  background: #ffffff;
  color: #202020;
  border: 1px solid #ffffff;
  max-width: 180px;
  margin: 0 auto;
}
.main .product-block-1 .video-block .text-block .text-button a:hover{
  color: #ffffff;
  background: #8463d8;
  border: 1px solid #8463d8;
  transition: all ease 0.5s;
}
.main .full-styles{
  border-top: 1px #cecece solid;
}
.main .news-container .text-container a{
  border-bottom: 2px #3c3c3c solid;
}
.main .news-section{
  padding-bottom: 2rem;
  border-bottom: 1px #cecece solid;
  color: #202020;
}
.main .news-section .text-container p{
  margin: 0 auto;
  width: 1000px;
}
.main .about-container .contact-container .item img{
  margin: 0 auto;
}
.main .footer-wrapper .left-section{
  border-right: 1px #505050 solid;
}
.main .footer-wrapper .left-section .signup .email-input{
  border: 1px #fff solid;
}
.main .footer-wrapper .left-section .signup .email-input input{
  background-color: #1a1a1a;
  padding: 21px 15px;
  width: 80%;
  color: #fff;
}
.main .footer-wrapper .left-section .signup .email-input input:focus{
  outline: none !important;
}
.main .footer-wrapper .left-section .signup .email-input .submit-button{
  width: 20%;
}
.main .footer-wrapper .left-section .signup .email-input input::placeholder{
  color: #969696;
}
.main .footer-wrapper .left-section .signup .privacy input[type="checkbox"]{
  width: 25px; 
}
.main .footer-wrapper .right-section .list-wrapper{
  padding: 0 2rem;
}
.main .footer-wrapper .right-section ul li{
  padding-top: 1rem;
}
.main .footer-wrapper .right-section ul li:hover{
  text-decoration: underline;
}
.header-wrapper{
  height: 8rem;
}
.header-wrapper .drop-down{
  border-top: 1px #cecece solid;
}
.header-wrapper .drop-down p{
  font-size: 14px;
  color: #505050;
}
.header-wrapper .drop-down ul li{
  padding: 6px 0;
  color: #505050;
  font-size: 14px;
}
.header-wrapper .drop-down ul li:hover a{
  text-decoration: underline;
}
.header-wrapper .header-nav-list .submenu-1{
  top: 128px;
  left: 390px;
  width: 220px;
  box-shadow: 0 1px 4px #00000026;
  padding-top: 5px;
}
.header-wrapper .header-nav-list .submenu-1 li{
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}
.header-wrapper .header-nav-list .submenu-1 li a{
  color: #505050;
  font-size: 14px;
  padding-left: 10px;
}
.header-wrapper .header-nav-list .submenu-1 li a:hover{
  text-decoration: underline;
}

.header-mobile .dropdown-mobile .dropdown-inner ul li{
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
}
.header-mobile .dropdown-mobile .dropdown-inner ul li a{
  font-size: 18px;
}
.header-mobile .dropdown-mobile .dropdown-inner .dropdown-bottom{
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
}

/*Responsive App CSS*/
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  .header-wrapper{
    height: 7rem;
  }
  .header-bottom-wrapper{
    display: none;
  }
  .header-mobile{
    display: block;
  }
  .header-top-right{
    display: none;
  }
  .main .subtext{
    font-size: 24px;
  }
  .footer-inner{
    display: block;
  }
  .footer-inner .left-section{
    width: 100%;
  }
  .footer-inner .right-section{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .mobile-block{
    display: block;
  }
  .desktop-image{
    display: none;
  }
  .mobile-image{
    display: block;
  }
  .product-color{
    display: none;
  }
  .main .about-container .contact-container .item img{
    width: 24px;
    margin: 0;
  }
  .about-container .item-wrapper-mobile{
    margin: 0 20%;
  }
  .main .footer-wrapper .left-section .signup .email-input input{
    padding: 10px;
  }
  
}